/* Footer */

.footer {
    width: 100%;
    height: 15rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.copyright {
    font-family: "Baloo Da 2", serif;
    font-size: 1.6rem;
    color: #a7a7a7;
}

.working-hours {
    color: #a7a7a7;
}

.working-hours h2 {
    margin-top: 10px;
}

.words {
    font-family: "Baloo Da 2", serif;
    font-size: 1.6rem;
    color: #a7a7a7;
}

.social-list a {
    margin: 0 2rem;
}

.social-list i {
    font-size: 2rem;
    color: #a7a7a7;
}

.social-list p {
    font-family: "Baloo Da 2", serif;
    font-size: 1.6rem;
    color: #a7a7a7;
    margin-left: 110px;
    margin-bottom: 20px;
}

#social-words #my-icons {
    margin-right: 5px;
}


/* End Footer */


/* Keyframes */

@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: #1E90FF;
        font-weight: 500;
    }
}


/* End Keyframes */


/* Media Query For Tablet */

@media only screen and (min-width: 768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title {
        font-size: 6rem;
    }
    /* About */
    #about .about {
        flex-direction: row;
    }
    #about .col-left {
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }
    #about .about .col-left .about-img::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid #1E90FF;
    }
    #about .col-right {
        text-align: left;
        padding: 30px;
    }
    #about .col-right h1 {
        text-align: left;
    }
    /* Services Section */
    #services .service-bottom .service-item {
        flex-basis: 45%;
        margin: 2.5%;
    }
    /* End Services Section */
    .footer {
        height: 25rem;
    }
    /* End About */
}


/* End Media Query For Tablet */


/* Media Query For Desktop */

@media only screen and (min-width: 1200px) {
    /* header */
    #header .hamburger {
        display: none;
    }
    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li {
        display: inline-block;
    }
    #header .nav-list ul li a {
        font-size: 1.8rem;
    }
    #header .nav-list ul a:after {
        display: none;
    }
    #services .service-bottom .service-item {
        flex-basis: 22%;
        margin: 1.5%;
    }
    .footer {
        height: 28rem;
        margin-bottom: -15px;
    }
    /* End header */
}


/* media query for contact and footer  */

@media (max-width: 1500px) {
  
    .footer-content {
        width: 80%;
    }
  
}


@media (max-width: 1000px) {

      .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 50%;
    }
    .copyright {
        order: 1;
        margin-top: 3rem;
    }
    .footer {
        height: 25rem;
    }
}

@media (max-width: 700px) {
  
    .footer {
        height: 25rem;
    }
  
}

@media (max-width: 500px) {
    html {
        font-size: 45%;
    }
    .footer {
        height: 50%;
    }
    .social-list a {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .social-list p {
        margin-left: -10px;
        margin-bottom: 20px;
    }
    .contact-heading {
        font-size: 25px;
    }
    .words {
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .myIcon {
        margin-left: -90px;
    }
   
}
